<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.sweng.qeeqbii">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name="ch.epfl.sweng.qeeqbii.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GoogleSignInActivity">
           <intent-filter>
           <action android:name="android.intent.action.MAIN" />

           <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>


        <activity
            android:name="ch.epfl.sweng.qeeqbii.MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="ch.epfl.sweng.qeeqbii.CancerDataShowActivity"
            android:exported="true"
            android:parentActivityName="ch.epfl.sweng.qeeqbii.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.sweng.qeeqbii.MainActivity" />
        </activity>
        <activity android:name="ch.epfl.sweng.qeeqbii.BarcodeActivity" />
        <activity android:name="ch.epfl.sweng.qeeqbii.BarcodeToProductActivity" />
        <activity android:name="ch.epfl.sweng.qeeqbii.Graphs" />
        <activity
            android:name="ch.epfl.sweng.qeeqbii.CancerDataQueryActivity"
            android:parentActivityName="ch.epfl.sweng.qeeqbii.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
    </application>

</manifest>